.rogue-trader .tab {
	min-height: 0;
	width: 100%;
	overflow-y: auto;
}

.rogue-trader .tab.active {
	display: block;
	flex: 1 1 auto;
}

/* Parts are concatenated directly into the sheet form element. */
.rogue-trader.sheet form {
	display: flex;
	flex-direction: column;
	gap: 4px;
	height: 100%;
	overflow: hidden;
}

.rogue-trader.sheet form .sheet-tabs {
	flex-grow: 0;
}

.rogue-trader.sheet .header {
	flex-grow: 0;
	gap: 8px;
	align-items: center;
}

.rogue-trader.sheet .header .avatar img {
	max-width: 95px;
	max-height: 95px;
	border: none;
	display: block;
	margin: auto;
}

.rogue-trader.gear .stats {
	align-content: baseline;
}

.rogue-trader.gear .stats-row {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4px;
}

.rogue-trader.gear .stats-row .stat {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.rogue-trader.gear .stats-row .stat.craftsmanship select,
.rogue-trader.gear .stats-row .stat.availability select {
	width: 8em;
}

.rogue-trader.gear .stats-row .stat.weight input {
	width: 4em;
	text-align: center;
}

.rogue-trader.gear .stats-row .stat.short-description {
	flex: 1;
}

.rogue-trader.gear .tab[data-tab="notes"] .notes-editor {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.rogue-trader.gear .notes-editor prose-mirror {
	flex-grow: 1;
}